<!--  Row 1 -->
<div class="row">

    <!-- Customers -->
    <div class="col-sm-3 d-flex align-items-stretch">
        <div class="card w-100">
            <div class="card-body pb-0 mb-xxl-4 pb-1">
                <p class="mb-1 fs-3">Total Properties</p>
                <h4 class="fw-semibold fs-4">
                    @if (propertyCount) {
                    <span class="text-primary">{{ propertyCount }}</span>
                    }
                    @else {
                    <div class="spinner-border spinner-border-sm border-2 fw-light text-primary" role="status">
                        <span class="visually-hidden">Loading...</span>
                    </div>
                    }
                </h4>
                <div class="d-flex align-items-center">
                    <span
                        class="me-2 rounded-circle bg-primary-subtle round-20 d-flex align-items-center justify-content-center">
                        <i class="ti ti-smart-home text-primary"></i>
                    </span>
                    <p class="text-dark fs-3 mb-0">All time</p>
                </div>
            </div>
        </div>
    </div>
    <!-- Projects -->
    <div class="col-sm-3 d-flex align-items-stretch">
        <div class="card w-100">
            <div class="card-body">
                <p class="mb-1 fs-3">Arrears</p>
                <h4 class="fw-semibold fs-4">
                    @if (balances) {
                    <span class="text-danger">{{ balances }}</span>
                    }
                    @else {
                    <div class="spinner-border spinner-border-sm border-2 fw-light text-danger" role="status">
                        <span class="visually-hidden">Loading...</span>
                    </div>
                    }
                </h4>
                <div class="d-flex align-items-center">
                    <span
                        class="me-1 rounded-circle bg-danger-subtle round-20 d-flex align-items-center justify-content-center">
                        <i class="ti ti-calendar text-danger"></i>
                    </span>
                    <p class="text-dark fs-3 mb-0">This month</p>
                </div>
            </div>
        </div>
    </div>
    <!-- Projects -->
    <div class="col-sm-3 d-flex align-items-stretch">
        <div class="card w-100">
            <div class="card-body">
                <p class="mb-1 fs-3">Admin Users</p>
                <h4 class="fw-semibold fs-4">
                    @if (balances) {
                    <span class="text-warning">3</span>
                    }
                    @else {
                    <div class="spinner-border spinner-border-sm border-2 fw-light text-danger" role="status">
                        <span class="visually-hidden">Loading...</span>
                    </div>
                    }
                </h4>
                <div class="d-flex align-items-center">
                    <span
                        class="me-1 rounded-circle bg-warning-subtle round-20 d-flex align-items-center justify-content-center">
                        <i class="ti ti-users text-warning"></i>
                    </span>
                    <p class="text-dark fs-3 mb-0">Total</p>
                </div>
            </div>
        </div>
    </div>
    <!-- Projects -->
    <div class="col-sm-3 d-flex align-items-stretch">
        <div class="card w-100">
            <div class="card-body">
                <p class="mb-1 fs-3">Suburbs</p>
                <h4 class="fw-semibold fs-4">
                    @if (balances) {
                    <span class="text-success">5</span>
                    }
                    @else {
                    <div class="spinner-border spinner-border-sm border-2 fw-light text-danger" role="status">
                        <span class="visually-hidden">Loading...</span>
                    </div>
                    }
                </h4>
                <div class="d-flex align-items-center">
                    <span
                        class="me-1 rounded-circle bg-success-subtle round-20 d-flex align-items-center justify-content-center">
                        <i class="ti ti-building text-success"></i>
                    </span>
                    <p class="text-dark fs-3 mb-0">Total</p>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-6 d-flex align-items-stretch">
        <div class="card w-100 pb-0">
            <div class="card-body">
                <div>
                    <div class="d-flex align-items-center justify-content-between">
                        <h4 class="card-title fw-semibold mb-0">
                            Tariffs
                        </h4>
                        <select2 class="forn-control" [placeholder]="'Select Type'" [value]="selectedType" [data]="types" (update)="onTypeSelect($event)"></select2>
                    </div>
                    <div id="chart">
                        <apx-chart
                            [series]="chartOptions.series"
                            [chart]="chartOptions.chart"
                            [stroke]="chartOptions.stroke"
                            [dataLabels]="chartOptions.dataLabels"
                            [plotOptions]="chartOptions.plotOptions"
                            [xaxis]="chartOptions.xaxis"
                            [colors]="chartOptions.colors"
                            [fill]="chartOptions.fill"
                            [yaxis]="chartOptions.yaxis"
                            [grid]="chartOptions.grid"
                            [tooltip]="chartOptions.tooltip"
                            [legend]="chartOptions.legend"></apx-chart>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-6 d-flex align-items-stretch">
        <div class="card w-100 pb-0">
            <div class="card-body">
                <div>
                    <div class="d-flex align-items-center justify-content-between">
                        <h4 class="card-title fw-semibold mb-0">
                            Water Purchased
                        </h4>
                        <select2 class="forn-control" [placeholder]="'Select Type'" [value]="selectedType" [data]="types" (update)="onTypeSelect($event)"></select2>
                    </div>
                    <div id="chart">
                        <apx-chart
                            [series]="chartOptions.series"
                            [chart]="chartOptions.chart"
                            [stroke]="chartOptions.stroke"
                            [dataLabels]="chartOptions.dataLabels"
                            [plotOptions]="chartOptions.plotOptions"
                            [xaxis]="chartOptions.xaxis"
                            [colors]="chartOptions.colors"
                            [fill]="chartOptions.fill"
                            [yaxis]="chartOptions.yaxis"
                            [grid]="chartOptions.grid"
                            [tooltip]="chartOptions.tooltip"
                            [legend]="chartOptions.legend"></apx-chart>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
