<aside class="left-sidebar with-vertical">
    <div>
        <div class="brand-logo border-bottom d-flex align-items-center justify-content-between">
            <a class="text-nowrap d-flex gap-2 align-items-center logo-img">
                <img src="images/logos/logo.webp" class="dark-logo" height="40px" alt="Logo-Dark" />
                <strong class="text-dark">City Of Masvingo</strong>
            </a>
            <a href="javascript:void(0)" class="sidebartoggler ms-auto text-decoration-none fs-5 d-block d-xl-none">
                <i class="ti ti-x"></i>
            </a>
        </div>

        <nav class="sidebar-nav scroll-sidebar" data-simplebar>
            <ul id="sidebarnav">
                @for (item of navItems; track item) {
                @if(item.isDivider) {
                <li class="nav-small-cap mt-2">
                    <i class="ti ti-dots nav-small-cap-icon fs-4"></i>
                    <span class="hide-menu">{{ item.label }}</span>
                </li>
                }
                @else {
                <li class="sidebar-item">
                    <a class="sidebar-link pointer {{ getActiveClass(item) }}" (click)="goTo(item.link)" aria-expanded="false">
                        <span>
                            <i class="ti ti-{{ item.icon }}"></i>
                        </span>
                        <span class="hide-menu">{{ item.label }}</span>
                    </a>
                </li>
                }
                }
            </ul>
        </nav>

        <div class="fixed-profile py-2 mx-3 mb-0 bg-white border rounded mt-3">
            <div class="hstack gap-3">
                <div class="john-img">
                    <i class="ti ti-database-export fs-7 text-success"></i>
                </div>
                <div class="john-title">
                    <span class="fs-2">System Uptime: 100%</span>
                </div>
            </div>
        </div>
    </div>
</aside>
