<div class="d-flex justify-content-between align-items-center mb-4">
    <form [formGroup]="searchForm" (ngSubmit)="doSearch()" class="search-filter d-flex align-items-center gap-3">
        <div class="position-relative d-flex align-items-center">
            <i class="ti ti-search position-absolute fw-bold me-n2 z-5 ms-2"></i>
            <input type="text" formControlName="search" class="form-control form-control-sm ps-4" placeholder="Search owner or meter" />
        </div>
        <select2 class="forn-control" [placeholder]="'Select'" [value]="selectedSuburb" [data]="suburbs" (update)="onSuburbSelect($event)"></select2>
        <button type="submit" [disabled]="loading" class="btn search-btn btn-sm px-3">Search</button>
        @if(loading) {
        <div class="spinner-border spinner-border-sm text-primary" role="status">
            <span class="visually-hidden">Loading...</span>
        </div>
        }
        @if(submitted && !loading) {
        <button type="button" class="btn btn-link btn-sm px-0 text-danger" (click)="clearSearch()">Clear</button>
        }
    </form>
    <div class="actions">
        <a data-bs-toggle="offcanvas" data-bs-target="#addPropertyCanvas" aria-controls="addPropertyCanvas" class="btn btn-primary btn-sm">Add Property</a>
    </div>
</div>
<div class="card card-body {{ loading ? 'content-loading' : '' }} py-0">
    <div class="table-responsive">
        <table class="table align-middle text-nowrap mb-2">
            <thead>
                <tr class="text-muted fw-semibold">
                    <th scope="col" class="ps-0">Owner</th>
                    <th scope="col">Property Type</th>
                    <th scope="col">Location</th>
                    <th scope="col">Size (<span>m<sup>2</sup></span>)</th>
                    <th scope="col">Charges (USD)</th>
                    <th scope="col">Arrears (USD)</th>
                    <th scope="col" class="text-end">Actions</th>
                </tr>
            </thead>
            @if(paginatedProperties) {
            <tbody class="border-top">
                @for (property of paginatedProperties.items; track property) {
                <tr>
                    <td class="ps-0">
                        <div class="d-flex align-items-start">
                            <div class="me-2 pe-1">
                                <div class="rounded-circle avatar avatar-sm bg-success-subtle text-success border-success border" alt="modernize-img">{{ property.owner.initials }}</div>
                            </div>
                            <div>
                                <h6 class="fw-semibold mb-0">{{ property.owner.firstName }} {{ property.owner.lastName }}</h6>
                                <p class="mb-0 text-muted text-capitalize">
                                    {{ property.owner.email }}
                                </p>
                            </div>
                        </div>
                    </td>
                    <td class="text-capitalize">
                        {{ property.type }}
                        <p class="mb-0 text-muted fw-normal">
                            {{ property.meter }}
                        </p>
                    </td>
                    <td>
                        {{ property.suburb.name }}
                        <p class="mb-0 text-muted">
                            {{ property.address }}
                        </p>
                    </td>
                    <td>
                        {{ property.size }}
                    </td>
                    <td>
                        <p class="small mb-0 text-muted text-uppercase">
                            <span class="t-label">Rates: </span><span class="text-dark fw-semibold">{{ property.ratesCharge }}</span>
                        </p>
                        <p class="small mb-0 text-muted text-uppercase">
                            <span class="t-label">Sewer: </span><span class="text-dark fw-semibold">{{ property.sewerCharge }}</span>
                        </p>
                        <p class="small mb-0 text-muted text-uppercase">
                            <span class="t-label">Refuse: </span><span class="text-dark fw-semibold">{{ property.refuseCharge }}</span>
                        </p>
                    </td>
                    <td>
                        <p class="small mb-0 text-muted text-uppercase">
                            <span class="t-label">Rates: </span><span class="{{ property.balances.rates > 0 ? 'text-danger' : 'text-success' }} fw-semibold">{{ property.balances.rates }}</span>
                        </p>
                        <p class="small mb-0 text-muted text-uppercase">
                            <span class="t-label">Sewer: </span><span class="{{ property.balances.sewer > 0 ? 'text-danger' : 'text-success' }} fw-semibold">{{ property.balances.sewer }}</span>
                        </p>
                        <p class="small mb-0 text-muted text-uppercase">
                            <span class="t-label">Refuse: </span><span class="{{ property.balances.refuse > 0 ? 'text-danger' : 'text-success' }} fw-semibold">{{ property.balances.refuse }}</span>
                        </p>
                    </td>
                    <td class="text-end">
                        <div class="dropdown">
                            <a class="text-dark fs-6 nav-icon-hover" href="javascript:void(0)" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                <i class="ti ti-dots-vertical"></i>
                            </a>
                            <ul class="dropdown-menu" style>
                                <li>
                                    <a (click)="changeSelectedProperty(property)" data-bs-toggle="offcanvas" data-bs-target="#editPropertyCanvas"
                                        aria-controls="editPropertyCanvas" class="dropdown-item d-flex pointer align-items-center gap-2">
                                        <span>
                                            <i class="ti ti-edit fs-5"></i>
                                        </span>Edit Details
                                    </a>
                                </li>
                                @if(property.balances.rates > 0 || property.balances.refuse > 0 || property.balances.sewer > 0) {
                                <li>
                                    <a (click)="changeSelectedProperty(property)" data-bs-toggle="offcanvas" data-bs-target="#vendingCanvas"
                                        aria-controls="vendingCanvas" class="dropdown-item d-flex align-items-center gap-2 border-bottom pointer">
                                        <span>
                                            <i class="ti ti-calculator fs-5"></i>
                                        </span>Settle Arrears
                                    </a>
                                </li>
                                }
                            </ul>
                        </div>
                    </td>
                </tr>
                }
            </tbody>
            }
        </table>
    </div>
</div>
<app-pagination [pagination]="paginatedProperties" (clickedPagination)="doPagination($event)"></app-pagination>

<app-add-property [suburbList]="suburbs" (propertyAdded)="getProperties({query: ''})" />
<app-edit-property [suburbList]="suburbs" [propertySubject]="selectedPropertySubject.asObservable()" (propertyUpdated)="getProperties({query: ''})" />

<app-vending-modal [propertySubject]="selectedPropertySubject.asObservable()" />
