<h2 class="mb-1 fs-7 fw-bolder">Forgot Password?</h2>
<p class="mb-7">We will send instructions to your registered email</p>
<form [formGroup]="forgotForm" (ngSubmit)="onSubmit()">
    <div class="mb-3">
        <label class="form-label">Email Address</label>
        <input type="email" formControlName="email" class="form-control" />
        @if (submitted && f['email'].errors) {
        <div class="invalid-feedback">
            @if (f['email'].errors['required']) {
            <div>Email is required</div>
            }
            @else if (f['email'].errors['email']) {
            <div>Email is invalid</div>
            }
        </div>
        }
    </div>
    <div class="d-flex align-items-center gap-3 justify-content-between">
        <button type="submit" [disabled]="loading" class="btn btn-primary w-100 rounded-2">
            @if(loading) {
            <div class="spinner-border spinner-border-sm" role="status">
                <span class="visually-hidden">Loading...</span>
            </div>
            }
            <span>Get Instructions</span>
        </button>
        <a href="login" class="btn btn-light">Cancel</a>
    </div>
</form>
