@if(pagination && pagination.links && pagination.links.length > 3) {
<nav aria-label="..." class="d-flex justify-content-between">
    <div>
        <span class="text-muted fw-normal">
            Showing
            <span class="fw-bold text-dark">{{ pagination.from }}</span>
            to
            <span class="fw-bold text-dark">{{ pagination.to }}</span>
            /
            <span class="fw-bold text-dark">{{ pagination.total }}</span>
            results
        </span>
    </div>
    <ul class="pagination d-flex gap-1">
        @for (link of pagination.links; track $index) {
        @if($index == 0) {
        <li class="page-item {{ link.active ? 'active' : (link.url == null ? 'disabled' : '') }}">
            <a class="page-link {{link.url != null ? 'pointer' : ''}}" (click)="clicked(link.url)"><i class="ti ti-chevron-left fw-bold"></i></a>
        </li>
        }
        @else if($index == (pagination.links.length - 1)) {
        <li class="page-item {{ link.active ? 'active' : (link.url == null ? 'disabled' : '') }}">
            <a class="page-link {{link.url != null ? 'pointer' : ''}}" (click)="clicked(link.url)"><i class="ti ti-chevron-right fw-bold"></i></a>
        </li>
        }
        @else {
        <li class="page-item {{ link.active ? 'active' : (link.url == null ? 'disabled' : '') }}">
            <a class="page-link {{link.url != null ? 'pointer' : ''}}" (click)="clicked(link.url)">{{ link.label }}</a>
        </li>
        }
        }
    </ul>
</nav>
}
